body {
  background-color: #eee;
  font-family: sans-serif;
  font-size: 14px;
  padding: 1em 1em 1em 1em;
  margin: 0.5em;
}

#app {
  margin-top: 3em;
}

#app > header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app > header h1 {
  margin: 0 1em;
  padding: 0;
  font-size: 1.25em;
}

#app > header nav {
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.feeds {
  margin: 0;
  padding: 0;
}

.feeds .feed {
  list-style-type: none;
  margin-bottom: 1em;
}

.feed > .title,
.feed > details > summary {
  display: block;
  position: sticky;
  top: 01px;
  z-index: 20;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.feed .feeddate {
  position: absolute;
  right: 1.25em;
}

.feeditems {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: -1.25em;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.feeditems .next-feed-page {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
}
.feeditems .next-feed-page a {
  display: block;
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.feeditems .next-feed-page a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.feeditems .next-feed-page.loading a {
  opacity: 0.5;
}

.feeditems .feeditem {
  position: relative;
  padding-bottom: 2em;
  margin-bottom: 1em;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);

  background-repeat: no-repeat;
  background-size: 100%;

  flex-grow: 1;
  margin-right: 1.25em;

  flex-basis: calc(100% / 5);
  max-width: calc(100vw / 5 - 2em);
}

.feeditem summary {
  position: relative;
}

.feeditem.feeditem.has-thumb summary {
  min-height: 6em;
}

.feeditem .thumb {
  display: block;
  max-height: 20em;
  overflow: hidden;
}

.feeditem .thumb img {
  max-width: 100%;
}

.feeditem  .title {
  width: calc(100% - 2em);
  padding: 2.5em 1em 1em 1em;
  display: block;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-wrap: break-word;
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}

.feeditem.has-thumb summary .title {
  position: absolute;
  bottom: 0em;
  padding: 0.5em 1em;
  color: rgba(255,255,255, 1.0);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px #000;
}

.feeditem .text {
  padding: 1em 1em;
  display: block;
  margin-bottom: 0.25em;
  background-color: rgba(255, 255, 255, 0.3);
}

.feeditem .author {
  display: block;
  position: absolute;
  right: 1.25em;
  bottom: 0.75em;
  font-size: 0.85em;
  width: calc(33% - 2em);
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feeditem .date {
  display: block;
  position: absolute;
  left: 1.25em;
  top: 0.75em;
  font-size: 0.8em;
}

.feeditem .date a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}

.feeditem.has-thumb .date {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px #000;
  left: 0;
  top: 0;
  padding: 0.5em 1.25em;
}

.feeditem.has-thumb .date a {
  color: rgba(255,255,255, 1.0);
}

.feeditem .source {
  display: block;
  position: absolute;
  left: 1.25em;
  bottom: 0.75em;
  width: calc(66% - 2em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em;
}

.feeditem .source .link {  
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}

.feeditem .source .icon {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.feeditem button.options {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  margin: 0;
  padding: 0.5em 0.75em;
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(255,255,255, 1.0);
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px #000;
}

.feeditem button.options:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.feeditem .optionsPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  color: rgba(255,255,255, 1.0);
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 2px #000;
}

.feeditem .optionsPanel button {
  border: none;
  cursor: pointer;
  margin: 0.5em 1.0em;
  padding: 1em;
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.85em;
}

.feeditem .optionsPanel button:hover {
  background-color: rgba(255, 255, 255, 1.0);
}

.feeditem .optionsPanel button.optionsClose {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  margin: 0;
  padding: 0.5em 0.75em;
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 0.8);
}

.feeditem .optionsPanel button.optionsClose:hover {
  background-color: rgba(255, 255, 255, 1.0);
}

@media screen and (max-width: 1600px) {
  .feeditems .feeditem {
    flex-basis: calc(100% / 4);
    max-width: calc(100vw / 4 - 2.125em);
  }
}

@media screen and (max-width: 1280px) {
  .feeditems .feeditem {
    flex-basis: calc(100% / 3);
    max-width: calc(100vw / 3 - 2.5em);
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  .folder-menu {
    width: 100%;
  }
  .feed > .title,
  .feed > details > summary {
    font-size: 1.125em;
    font-weight: bold;
  }
  .feeditems .next-feed-page a {
    font-size: 1em;
  }
  .feeditems .feeditem {
    flex-basis: calc(100% / 2);
    max-width: calc(100vw / 2 - 3em);
  }
  .feed .feeddate {
    position: inherit;
    right: inherit;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 16px;
  }
  .feeditems {
    display: block;
    margin-right: 0;
  }
  .feeditems .feeditem {
    display: block;
    width: 100%;
    flex-basis: inherit;
    max-width: inherit;
  }
}
