:root {
  color-scheme: light dark; /* both supported */
}

body {
  --page-bg-color: #eee;
  --header-bg-color: #fff;
  --header-border-color: #aaa;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --nav-button-color: rgba(255, 255, 255, 1.0);
  --nav-button-bg-color: rgba(0, 0, 0, 0.5);
  --nav-button-hover-bg-color: rgba(0, 0, 0, 0.7);
  --text-shadow-color: #000;
  --item-text-color: #000;
  --item-bg-color: #fff;
  --item-border-color: #aaa;
  --item-text-bg-color: rgba(255, 255, 255, 0.3);
  --title-color: rgba(0, 0, 0, 1.0);
  --title-bg-color: rgba(255, 255, 255, 0.5);
  --title-has-thumb-color: rgba(255, 255, 255, 1.0);
  --title-has-thumb-bg-color: rgba(0, 0, 0, 0.5);
  --options-panel-bg-color: rgba(0, 0, 0, 0.8);
  --options-panel-button-bg-color: rgba(255, 255, 255, 0.8);
  --options-panel-button-hover-bg-color: rgba(255, 255, 255, 1.0);

  background-color: var(--page-bg-color);
  font-family: sans-serif;
  font-size: 14px;
  padding: 1em 1em 1em 1em;
  margin: 0.5em;
}

body.dark-theme {
  --page-bg-color: #333;
  --header-bg-color: #222;
  --header-border-color: #333;
  --box-shadow-color: rgba(32, 32, 32, 0.4);
  --nav-button-color: rgba(0, 0, 0, 1.0);
  --nav-button-bg-color: rgba(255, 255, 255, 0.5);
  --nav-button-hover-bg-color: rgba(255, 255, 255, 0.8);
  --text-shadow-color: rgba(64, 64, 64, 0.4);
  --item-text-color: rgba(224, 224, 224, 1.0);
  --item-bg-color: rgba(32, 32, 32, 1.0);
  --item-border-color: #222;
  --item-text-bg-color: rgba(32, 32, 32, 0.3);
  --title-color: rgba(224, 224, 224, 1.0);
  --title-bg-color: rgba(32, 32, 32, 0.5);
  --title-has-thumb-color: rgba(24,24,24, 1.0);
  --title-has-thumb-bg-color: rgba(255, 255, 255, 0.7);
  --options-panel-bg-color: rgba(255, 255, 255, 0.7);
  --options-panel-button-color: rgba(255, 255, 255, 1.0);
  --options-panel-button-bg-color: rgba(32, 32, 32, 0.7);
  --options-panel-button-hover-bg-color: rgba(32, 32, 32, 0.9);
}

#app {
  margin-top: 3em;
}

#app > header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-border-color);
  box-shadow: 4px 4px 3px var(--box-shadow-color);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app > header h1 {
  margin: 0 1em;
  padding: 0;
  font-size: 1.25em;
}

#app > header nav {
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#app > header nav button {
  border: none;
  cursor: pointer;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
  color: var(--nav-button-color);
  background-color: var(--nav-button-bg-color);
  text-shadow: 2px 2px 2px var(--text-shadow-color);
}

#app > header nav button:hover {
  background-color: var(--nav-button-hover-bg-color);
}

#app > header nav .theme-indicator {
  color: white;
  text-indent: -0.75em;
  margin: 0em 0.75em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
}

#app > header nav .theme-indicator:hover {
  opacity: 1.0;
}

#app > header nav .theme-indicator::after {
  font-size: 24px;
  content: "\1F31E";
}

.dark-theme #app > header nav .theme-indicator::after {
  content: "\1F31A";
}

.feeds {
  margin: 0;
  padding: 0;
}

.feeds .feed {
  list-style-type: none;
  margin-bottom: 1em;
}

.feed > .title,
.feed > details > summary {
  display: block;
  position: sticky;
  top: 01px;
  z-index: 20;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  background-color: var(--item-bg-color);
  border: 1px solid var(--item-border-color);
  box-shadow: 4px 4px 3px var(--box-shadow-color);
  cursor: pointer;
}

.feed .feeddate {
  position: absolute;
  right: 1.25em;
}

.feeditems {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: -1.25em;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.feeditems .feeditem {
  position: relative;
  padding-bottom: 2em;
  margin-bottom: 1em;
  list-style-type: none;
  background-color: var(--item-bg-color);
  border: 1px solid var(--item-border-color);
  box-shadow: 4px 4px 3px var(--box-shadow-color);

  background-repeat: no-repeat;
  background-size: 100%;

  flex-grow: 1;
  margin-right: 1.25em;

  flex-basis: calc(100% / 5);
  max-width: calc(100vw / 5 - 2em);
}

.feeditem summary {
  position: relative;
}

.feeditem.feeditem.has-thumb summary {
  min-height: 6em;
}

.feeditem .thumb {
  display: block;
  max-height: 20em;
  overflow: hidden;
}

.feeditem .thumb img {
  max-width: 100%;
}

.feeditem .title {
  width: calc(100% - 2em);
  padding: 2.5em 1em 0em 1em;
  display: block;
  font-weight: 600;
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--title-color);
  background-color: var(--title-bg-color);
}

.feeditem.has-thumb summary .title {
  position: absolute;
  bottom: 0em;
  padding: 0.5em 1em;
  color: var(--title-has-thumb-color);
  background-color: var(--title-has-thumb-bg-color);
  text-shadow: 2px 2px 2px var(--text-shadow-color);
}

.feeditem .text {
  padding: 2em 1em 1em 1em;
  display: block;
  margin-bottom: 0.25em;
  color: var(--item-text-color);
  background-color: var(--item-text-bg-color);
}

.feeditem.has-thumb .text {
  padding: 1em 1em 1em 1em;
}

.feeditem .author {
  display: block;
  position: absolute;
  right: 1.25em;
  bottom: 0.75em;
  font-size: 0.85em;
  width: calc(33% - 2em);
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feeditem .date {
  display: block;
  position: absolute;
  left: 1.25em;
  top: 0.75em;
  font-size: 0.8em;
}

.feeditem .date a {
  text-decoration: none;
  color: var(--title-color);
}

.feeditem.has-thumb .date {
  background-color: var(--title-has-thumb-bg-color);
  text-shadow: 2px 2px 2px var(--text-shadow-color);
  left: 0;
  top: 0;
  padding: 0.5em 1.25em;
}

.feeditem.has-thumb .date a {
  color: var(--title-has-thumb-color);
}

.feeditem .source {
  display: block;
  position: absolute;
  left: 1.25em;
  bottom: 0.75em;
  width: calc(66% - 2em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em;
}

.feeditem .source .link {  
  text-decoration: none;
  color: var(--title-color);
}

.feeditem .source .icon {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.feeditem button.options {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  margin: 0;
  padding: 0.5em 0.75em;
  font-size: 0.8em;
  cursor: pointer;
  color: var(--nav-button-color);
  background-color: var(--nav-button-bg-color);
  text-shadow: 2px 2px 2px var(--text-shadow-color);
}

.feeditem button.options:hover {
  background-color: var(--nav-button-hover-bg-color);
}

.feeditem .optionsPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  color: var(--title-has-thumb-color);
  background-color: var(--options-panel-bg-color);
  text-shadow: 2px 2px 2px var(--text-shadow-color);
}

.feeditem .optionsPanel button {
  border: none;
  cursor: pointer;
  margin: 0.5em 1.0em;
  padding: 1em;
  font-size: 0.8em;
  cursor: pointer;
  color: var(--options-panel-button-color);
  background-color: var(--options-panel-button-bg-color);
  font-size: 0.85em;
}

.feeditem .optionsPanel button:hover {
  background-color: var(--options-panel-button-hover-bg-color);
}

.feeditem .optionsPanel button.optionsClose {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  margin: 0;
  padding: 0.5em 0.75em;
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(0, 0, 0, 1.0);
  background-color: var(--options-panel-button-bg-color);
}

.feeditem .optionsPanel button.optionsClose:hover {
  background-color: var(--options-panel-button-hover-bg-color);
}

@media screen and (max-width: 1600px) {
  .feeditems .feeditem {
    flex-basis: calc(100% / 4);
    max-width: calc(100vw / 4 - 2.125em);
  }
}

@media screen and (max-width: 1280px) {
  .feeditems .feeditem {
    flex-basis: calc(100% / 3);
    max-width: calc(100vw / 3 - 2.5em);
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  .folder-menu {
    width: 100%;
  }
  .feed > .title,
  .feed > details > summary {
    font-size: 1.125em;
    font-weight: bold;
  }
  .feeditems .next-feed-page a {
    font-size: 1em;
  }
  .feeditems .feeditem {
    flex-basis: calc(100% / 2);
    max-width: calc(100vw / 2 - 3em);
  }
  .feed .feeddate {
    position: inherit;
    right: inherit;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 16px;
  }
  .feeditems {
    display: block;
    margin-right: 0;
  }
  .feeditems .feeditem {
    display: block;
    width: 100%;
    flex-basis: inherit;
    max-width: inherit;
  }
}
